# 💥 보안 파일
.env
.env.*
sa-key.json

# 🔐 시크릿 스크립트
/src/scripts/hashPassword.js

# 🔁 DB 시딩 및 결과물
prisma/migrations/
prisma/migration_lock.toml
backup.sql

# 🧪 로그 및 캐시
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
coverage/
logs/
*.log

# 🛠️ 개발 도구 설정
.claude/